tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.container {
  width: 71.1%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 768px) {
  .container {
    width: 96%;
  }
}

.header {
  background-color: #222222;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
  cursor: pointer;
}

.header__logo {
  margin: 0 10px 0 0;
}

.header__person-link {
  margin: 0 34px 0 0;
}

@media (max-width: 1600px) {
  .header__logo {
    margin: 0 0 0 18px;
  }
}

@media (max-width: 378px) {
  .header__person-link,
  .header__person-basket {
    display: none;
  }
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px;
}

.brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .brand__img {
    width: 385px;
    height: 369px;
  }
}

@media (max-width: 375px) {
  .brand__img {
    display: none;
  }
}

.brand__title {
  margin-left: 74px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 768px) {
  .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 400;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand__title {
    margin-top: 150px;
    height: 369px;
  }
}

.brand__title:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #f5546a;
  left: -20px;
}

@media (max-width: 375px) {
  .brand__title:before {
    margin-top: 10px;
    height: 98px;
  }
}

.brand__line,
.brand__title {
  width: 100%;
}

.brand__subtitle--pink {
  color: #f5546a;
}

.brand__title-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fde1f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__subtitle {
  display: block;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 768px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
  }
}

.brand__navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand__navigation {
  display: none;
  z-index: 3;
  width: 232px;
  height: 765px;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  margin-left: 274px;
  position: absolute;
}

@media (max-width: 768px) {
  .brand__navigation {
    margin-left: 135px;
    margin-top: 394px;
  }
}

@media (max-width: 375px) {
  .brand__navigation {
    margin-left: -103px;
  }
}

.brand__menu {
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  margin-left: 35px;
  margin-top: 35px;
}

.brand__menu-button {
  margin-left: 120px;
  margin-top: 34px;
  background-color: #FFFFFFFF;
  border-color: #FFFFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #222222;
  z-index: 3;
  cursor: pointer;
}

.navigation__title-trinkets {
  text-decoration: none;
  color: #6F6E6E;
}

.navigation__title-trinkets:hover {
  color: #f5546a;
}

.navigation__title-man,
.navigation__title-woman,
.navigation__title-kids {
  margin-top: 20px;
  margin-left: 35px;
  color: #f5546a;
}

.navigation__title-list {
  margin-left: 45px;
  margin-top: 20px;
}

.offers {
  max-width: 1140px;
}

.offers__list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__item {
  color: #FFFFFFFF;
  width: 360px;
  min-height: 260px;
  background-color: #474040;
  margin: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers__item--woman {
  background-image: url(../img/offers/woman.jpg);
}

.offers__item--man {
  background-image: url(../img/offers/man.png);
}

.offers__item--kids {
  background-image: url(../img/offers/kids.png);
}

@media (max-width: 768px) {
  .offers__item--woman,
  .offers__item--man,
  .offers__item--kids {
    width: 33.333%;
    height: auto;
    margin: 0px -15px 8px 0px;
  }
}

@media (max-width: 375px) {
  .offers__item--woman,
  .offers__item--man,
  .offers__item--kids {
    width: 33.333%;
    height: auto;
    margin: 0px -15px 8px 0px;
  }
}

.offers__item--accesories {
  background-image: url(../img/offers/accesories.png);
  width: 100%;
  margin: 0;
  min-height: 180px;
}

.offers__item--text {
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.offers__item--text span {
  color: #f5546a;
  text-transform: uppercase;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  display: block;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 148px;
}

.product__header {
  width: 100%;
  min-height: 148px;
  background-color: #fde1f4;
}

.product__title {
  position: absolute;
  margin: 60px 0 0 230px;
  text-transform: uppercase;
  color: #f5546a;
}

.product__title--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 1160px;
  margin-top: 65px;
}

.product__title-link-home,
.product__title-link-section,
.product__title-link-arrivals {
  color: #636363;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  cursor: pointer;
}

.product__title-link-arrivals:hover {
  color: #f5546a;
}

.product__title-link-section:hover {
  color: #f5546a;
}

.product__title-link-home:hover {
  color: #f5546a;
}

.product__title-link-separator {
  border-left: 2px solid #636363;
  width: 2px;
  height: 15px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  margin: 0 4px 0 4px;
}

.section--gray {
  background-color: #f8f8f8;
}

.section {
  padding: 80px 0;
}

.reviews__section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.reviews {
  position: relative;
  height: 777px;
}

.reviews,
.slick-slider {
  padding: 0 110px;
}

.reviews__item {
  min-height: 777px;
  padding-left: 250px;
  position: relative;
}

.reviews__photo {
  display: block;
  width: 600px;
  height: 725px;
  top: 0;
  left: 0;
  z-index: 1;
}

.slick-arrow {
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.slick-prev {
  left: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.reviews__btn--next,
.slick-next {
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.add {
  width: 1141px;
  height: 601px;
  background-color: #ffff;
  border: 3px solid  #e7e5e5;
  margin: 0 auto;
  z-index: 2;
  margin-top: -100px;
}

.add__header {
  margin-left: 497px;
  margin-top: 65px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
}

.add__header--separator {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;
  background-color: #EF5B70;
}

.add__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
  margin-left: 443px;
}

.add__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  width: 555px;
  text-align: center;
  margin-left: 293px;
  margin-top: 49px;
}

.add__summ {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  color: #EF5B70;
  margin-left: 542px;
  margin-top: 32px;
}

.add__summ--separator {
  content: "";
  display: block;
  width: 640px;
  height: 1px;
  margin: 65px auto;
  background-color: #bcbaba;
}

.add__choise--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 72px;
  width: 313px;
  margin: 0 auto;
  padding-bottom: 49px;
}

.add__choise--color,
.add__choise--size,
.add__choise--quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.add__choise--tf {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  margin-left: 7px;
  background-color: #6F6E6E;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 10px;
  cursor: pointer;
}

.add__choise--ts {
  content: "";
  display: block;
  width: 9px;
  height: 2px;
  margin-left: -4px;
  background-color: #6F6E6E;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 10px;
  cursor: pointer;
}

.add__browse--btn {
  color: #f5546a;
  padding: 8px 30px;
  border: 3px solid #f5546a;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 500px;
}

.assortment__container {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 130px;
}

.assortment__box {
  background-color: #F8F8F8;
}

.assortment__suptitle {
  margin-top: 94px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.assortment__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.assortment__brand {
  text-transform: uppercase;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.assortment__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  max-width: 360px;
}

.assortment__price {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #f5546a;
}

.assortment__browse {
  margin-top: 30px;
}

.logistic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
  background-color: #222222;
  min-height: 340px;
  padding: 0 250px  0 250px;
}

@media (max-width: 768px) {
  .logistic__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 0;
  }
}

@media (max-width: 375px) {
  .logistic__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 0;
  }
}

.logistic__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33.333%;
  height: 33.333%;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .logistic__wrapper {
    width: 100%;
    margin-top: 15%;
    margin-bottom: 64px;
  }
}

@media (max-width: 375px) {
  .logistic__wrapper {
    width: 100%;
    margin-top: 15%;
    margin-bottom: 64px;
  }
}

.logistic__img {
  margin: 0 auto;
}

.logistic__header {
  margin: 0 auto;
  color: #FBFBFB;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 15px;
}

.logistic__description {
  margin-top: 16px;
  color: #FBFBFB;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  width: 360px;
  text-align: center;
  margin: 0 auto;
}

.subscribe {
  background: url(../img/subs/sea.png) center no-repeat;
  background-size: cover;
  min-height: 448px;
  background-color: transparent;
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .subscribe__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .subscribe__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe__img {
  margin-top: 90px;
  margin-left: 325px;
  border: 2px solid #f5546a;
  border-radius: 50%;
  position: absolute;
}

.subscribe__item {
  margin-top: 295px;
  margin-left: 237px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 360px;
}

.subscribe__inner-logo {
  width: 50%;
}

@media (max-width: 768px) {
  .subscribe__inner-logo {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .subscribe__inner-logo {
    width: 100%;
  }
}

.subscribe__inter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

@media (max-width: 768px) {
  .subscribe__inter {
    width: 100%;
    padding-bottom: 140px;
  }
}

@media (max-width: 375px) {
  .subscribe__inter {
    width: 100%;
    padding-bottom: 140px;
  }
}

.subscribe__inter-item {
  margin: 0 auto;
  margin-top: 150px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  max-width: 490px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__inter-item span {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.subscribe__inter-mail {
  margin: 0 auto;
  width: 60%;
  height: 40px;
  padding: 12px;
  border-right: 0;
}

.subscribe__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 626px;
  margin: 0 auto;
}

.subscribe__input {
  height: 50px;
  border-radius: 50px 0 0 50px;
  border: 1px solid #e7e7e7;
  min-width: 250px;
}

.subscribe__btn {
  margin-left: -4px;
  width: 100px;
  height: 54px;
  background-color: #f5546a;
  border-color: #f5546a;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  color: #e7e7e7;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.subscribe__btn:hover {
  background-color: #35c9f8;
  border-color: #35c9f8;
  color: #f70d0d;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222222;
}

.footer__header {
  background-color: #222222;
  min-height: 80px;
  padding-top: 40px;
  width: 100%;
  height: 79px;
}

.copyright {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  margin-left: 235px;
  margin-top: 20px;
  width: 50%;
}

@media (max-width: 768px) {
  .copyright {
    margin-left: 35px;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.footer__social-wrapper {
  width: 220px;
  margin: 0 auto;
  margin-top: 45px;
}

.footer__img {
  margin-left: 10px;
  cursor: pointer;
}

.footer__img:hover {
  background-color: #f5546a;
  opacity: 0.4;
}

.assortment__box {
  background-color: #FBFBFB;
  margin-bottom: 30px;
}

.assortment__suptitle {
  margin-top: 94px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.assortment__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.assortment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.assortment__brand {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.assortment__description {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  max-width: 360px;
}

.assortment__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #f5546a;
  margin: 10px 0 14px 22px;
}

.assortment__browse {
  margin: 0 auto;
}

.assortment__browse--btn {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #f5546a;
  padding: 8px 30px;
  border: 3px solid #f5546a;
  text-decoration: none;
}

.cart__header {
  width: 100%;
  min-height: 148px;
  background-color: #fde1f4;
}

.cart__title {
  position: absolute;
  margin: 60px 0 0 230px;
  text-transform: uppercase;
  color: #f5546a;
}

.cart__wrapper {
  display: -webkit-box;
}

.cart__characteristics--wrapper {
  width: 885px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__characteristics--first,
.cart__characteristics--second {
  -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
          box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  width: 655px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 40px;
  margin-left: 230px;
}

.cart__characteristics--second {
  margin-bottom: 40px;
}

.cart__img {
  width: 265px;
  height: 310px;
}

.cart__description--first,
.cart__description--second {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart__brand {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  width: 193px;
  height: 60px;
  margin-top: 20px;
  margin-left: 30px;
}

.cart__price {
  margin-top: 42px;
  margin-left: 30px;
}

.cart__coloring {
  margin-top: 6px;
  margin-left: 30px;
}

.cart__size {
  margin-top: 6px;
  margin-left: 30px;
}

.cart__quantity {
  margin-top: 6px;
  margin-left: 30px;
}

.cart__btn--clear,
.cart__btn--continue {
  background-color: #fff;
  width: 224px;
  height: 49px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
}

.cart__btn--w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
  padding-bottom: 128px;
}

.cart__btn--clear {
  margin-left: 230px;
}

.cart__btn--continue {
  margin-left: 205px;
}

.cart__form--wrapper {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__form {
  width: 360px;
  margin-left: 128px;
  margin-top: 113px;
}

.cart__header--form {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
}

.cart__input--country,
.cart__input--town,
.cart__input--postcode {
  margin-top: 25px;
  width: 360px;
  height: 45px;
}

.cart__btn {
  margin-top: 25px;
  width: 100px;
  height: 35px;
  background-color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
}

.cart__checkout--wrapper {
  width: 360px;
  height: 215px;
  background-color: #F5F3F3;
  margin-top: 49px;
  margin-left: 8px;
  padding-top: 40px;
}

.cart__sub--total {
  text-transform: uppercase;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  margin-left: 195px;
  margin-top: 40px;
}

.cart__grand--total {
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  margin-left: 129px;
  margin-top: 12px;
}

.cart__checkout--btn {
  width: 275px;
  height: 50px;
  background-color: #F16D7F;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  margin-top: 35px;
  margin-left: 45px;
}

.registration__header {
  width: 100%;
  min-height: 148px;
  background-color: #fde1f4;
  margin-bottom: 65px;
}

.registration__title {
  position: absolute;
  margin: 60px 0 0 230px;
  text-transform: uppercase;
  color: #f5546a;
}

.registration__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.registration__list {
  margin: 0 auto;
}

.registration__list--yn {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  margin-top: 65px;
}

.registration__list--ld {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  margin-top: 65px;
}

.registration__inter--fn,
.registration__inter--ln {
  margin-top: 21px;
}

.registration__inter--male,
.registration__inter--female {
  margin-top: 40px;
}

.registration__inter--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__input {
  margin-top: 21px;
  width: 460px;
  height: 50px;
}

input[placeholder] {
  padding-left: 20px;
}

.password__content {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  margin-top: 21px;
  width: 460px;
}

.registration__btn {
  width: 130px;
  height: 54px;
  background-color: #f5546a;
  border-color: #f5546a;
  cursor: pointer;
  color: #e7e7e7;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  margin-top: 39px;
  margin-bottom: 95px;
  text-align: center;
  text-transform: uppercase;
}

.registration__btn:hover {
  width: 130px;
  height: 54px;
  background-color: #35c9f8;
  border-color: #35c9f8;
  cursor: pointer;
  color: #f70d0d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  margin-top: 39px;
  margin-bottom: 95px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.registration__loyalty--notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.registration__loyalty--header {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 65px;
}

.registration__loyalty--description {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  width: 625px;
  height: 58px;
  margin-top: 22px;
}

.discounts,
.shipping,
.purchase,
.access,
.exclusive {
  margin-top: 15px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}

.exclusive {
  margin-bottom: 225px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  display: none;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #FBFBFB;
  background-color: #FFFFFFFF;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #FBFBFB;
  background-color: #FFFFFFFF;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #222222;
  border-bottom: 4px solid #222222;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 1;
}

input[type="checkbox"]:checked + label:after {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */